*{
    font-size: 16px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

body{
    color: white;
    background-color: #090909;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: #3587A4;
}

.hero{
    padding: 1rem;
}

.navbar{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-nav{
    margin: 0;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3587A4;
}

.navbar-nav a{
    padding: 1.5rem 1vw 1.5rem 1vw;
   /*border-right: 3px solid black;*/
}

.navbar-nav a:last-child{
    border-right: none;
}

.navbar-nav a:hover {
    cursor: pointer;
    background-color: rgb(44, 114, 139);
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        
    transition: 500ms ease;
    }

    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }
}