*{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

body{
    color: white;
    background-color: #090909;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: #0A7A99;
}

.navbar{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
}

.navbar-nav{
    margin: 0;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #0A7A99;
}

.navbar-nav a{
    padding: 1.5rem 1vw 1.5rem 1vw;
   /*border-right: 3px solid black;*/
}

.navbar-nav a:last-child{
    border-right: none;
}

.navbar-nav a:hover {
    cursor: pointer;
    background-color: rgb(44, 114, 139);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

#hero {
    background: #0A7A99;
    color: #fff;
    position: relative;
    padding: 1rem;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 3vw)
    );
    
    padding-bottom: 1rem;
}

#hero p{
    font-size: 1.5rem;
}

#hero img{
    max-width: 90vw;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 3vw)
    );
    border-radius: 10px;
}

/* Fix/hack for 1080p+ displays */
@media screen and (min-width: 1921px) {
    .hero {
      padding-bottom: 5px;
      margin-bottom: 240px !important;
    }

    .hero:after {
      bottom: -220px !important;
  }
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        
    transition: 500ms ease;
    }

    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }
}